<div id="sidebar">
    <div id="menu">
        <a href="/">Home</a> <hr>
        <a href="/blog.html">Blog</a> <hr>
        <a href="/site-info.html">Site Info</a> <hr>
        <a href="/about.html">About Me</a> <hr>
        <a href="/contact.html">Contact</a>
    </div>

    <div id="latest-post">
        <h4>Latest Post:</h4>
        @latest
    </div>

    <div id="newsfeed">
        <h4>Get Updates:</h4>
        <a href="/feed.atom">Atom feed</a>
    </div>
</div>