31-10-2022
31-10-2022
The Spawn of Stars
A report by Phillip Hartman, Investigative Journalist
<br><br>

It was on Friday, September the twenty-first, 1923, that I received a letter from an old friend of mine. James Barnham, the friend in question, and I had not spoken since we attended the same university in Arkham, Massachusetts, some twenty years prior. His writing carried an excited tone as it exposited at length about all of his undertakings in the time since we had gone our separate ways.
<br><span class="indent"></span>
When the letter at last got to the point, it turned out that the reason behind the attempt at reconnection was an article I had published the month prior. It was an account of my investigation into a series of hideous, though fascinating, disappearances around the north-eastern United States. The reason I call such despicable happenings fascinating is that they shared a most peculiar commonality; They happened, without exception, in the near vicinity of places closely linked to local folkloric legends.
<br><span class="indent"></span>
What horrid rituals may have been conducted in the spaces brought to my knowledge by these tales, I can only grasp at, for the connections end there. Though the disappearances, eleven in total, certainly happened too close to the aforementioned sites for coincidence to be a reasonable explanation, none of the tales describe anything so barbaric as human sacrifice. Rather, they would tell of the reading of constellations, the worship of celestial bodies, and other such cosmological practices.
<br><span class="indent"></span>
As such, it was my belief that I was dealing with a particularly elusive kidnapper who uses the locale of their misdeeds as a calling card of sorts. This conclusion was anything but certain, however. No matter my numerous, diligent attempts, I had been unable to uncover a single hint that would turn the vague folkloric connection between the disappearances into a lead on a perpetrator. Thus, as I am not one to espouse unfounded speculations, the article had been sent to the presses without a conclusion.
<br><span class="indent"></span>
You can imagine my excitement, then, upon reading that a museum near James' home town recently opened an exhibition on exactly this topic. The exhibition was appropriately, though somewhat frivolously, titled <q>Astral Artefacts: Tales and Treasures of the Skies.</q> Indeed, this museum would be very likely to hold something of interest to my mystery kidnapper, and therefore of interest to me.
<br><span class="indent"></span>
That the timing of the exhibition's opening was almost too good to be true did not bother me at the time.
<br><br>

Thus, on the following Tuesday, September the twenty-fifth, I boarded a train that would take me from my home town of Providence to Worcester, and then to Greenfield. My telegram must have made it to James unimpeded, as he awaited me at the station with his motor. We rode only a short distance to the north, in the direction of Leyden, where we found the museum situated on a picturesque domed hill surrounded by large trees in rustic autumn colours.
<br><span class="indent"></span>
The museum itself was a stately wooden construction more reminiscent of the colonial style of the country's southern regions than one might expect of a town so far north. Seated on the porch of this building was an elderly man of dark complexion who perked up as soon as James' motor entered the driveway. The man introduced himself as Nelson Farwell, proprietor and curator of the Leyden Museum of Curiosities. He was clearly enthused at the prospect that his museum was to welcome visitors, a sentiment that only strengthened when I explained the reason behind my interest in his exhibition.
<br><span class="indent"></span>
He led the two of us inside, where we, if I may be so honest, were greeted by a rather disappointing sight. The exhibition occupied just a small corner of the building and consisted primarily of illustrations of constellations and collections of small rocks that had supposedly fallen from the sky. In the middle of this frankly squalid display stood a woman dressed in a pristine white lab coat who appeared utterly out of place.
<br><span class="indent"></span>
This woman, who introduced herself as Agatha Heminger, claimed to be an astronomer who was visiting the museum out of professional curiosity. She was the final piece of this convoluted puzzle of unlikely coincidences in which I had found myself. I was convinced, at this point, that there was something off about the whole affair, but curiosity triumphed over caution when Heminger shared with the collected company a singular fact; The evening of the following day would present an opportunity to see Mars and Venus line up in front of the Orion constellation. Farwell, fully completing the picture, added that this event saw descriptions in no less than three separate native legends.
<br><br>

Having spent the night in James' guest bedroom, I met up once again with the eclectic group of people I had met in the span of the previous day. We made our way to a hill, much like the one upon which the museum was built, where we would have an unobstructed view of the night sky. There, the three of us waited in palpable anticipation. I must admit I was more intrigued by the sky than I should have been. I should have been looking at the tree line for signs of my quarry. Instead, at approximately thirteen minutes past twelve on September the twenty-sixth, I saw things which I will never forget.
<br><span class="indent"></span>
At first, a thin, nearly invisible white line formed along the belt of Orion. This line then became thicker and more apparent, and eventually split in two. In place of Orion's belt there was now a hole like a great black eye with horrid, jagged edges.
<br><span class="indent"></span>
What emanated from that rift in the sky is something I can scarcely hope to describe. All sound abruptly disappeared into the black abyss above us, creating a terrifyingly oppressive stillness. It was wholly unlike any silence I had ever experienced. I heard nothing, not even my own heartbeat. My mind felt as though it was under siege by a cacophony of silence.
<br><span class="indent"></span>
Then, difficult as it might be to imagine, things got worse. The rift, which had seemed impossibly far away, situated as it was among the stars, came closer. It grew, slowly at first, then faster and faster and faster, until it occupied my entire field of vision. I blinked. The ground was gone. I was standing in a complete void where my own body was the only thing visible. I blinked again. My body was gone. My mind could no longer take it.
<br><br>

I came to in James' now familiar guest bedroom. It was still dark outside, but I had been unconscious for several hours at least. James was sat at his dinner table with a worried look on his face when I entered the room. His worry quickly seemed to turn to unease when I began to question him fervently about the previous night. He kept insisting that there had been nothing there. That it had been too cloudy to see the stars. That I had passed out without any cause. I know better. I know I saw that rift, that abyss, swallow us. And I know I saw something in the space between waking and dreaming when I fell unconscious on that accursed hill. But James remained steadfast, so I could do nothing other than assure him I was fine and take my leave.
<br><span class="indent"></span>
For a week after the incident I attempted to get into contact with either Agatha Heminger or Nelson Farwell, but even with all my connections as a journalist, I was unable to find any evidence that they had existed at all. After that, I stopped leaving my home for anything other than the bare necessities. I had to think. I wracked my mind for days on end about what exactly it was that disturbed me so as to pass out. Slowly but surely, it came back. I have been able to recall more and more of the things I had been shown on that night.
<br><span class="indent"></span>
Somewhere in late October it finally dawned on me. I awoke from a dream with the full vision clearly returned to me. I had seen a body made of stars and nebulae, an existence free of earthly worries or complications. There had been no kidnappings, no murders, no hideous acts committed by star-worshipping lunatics. There had been liberation, there had been salvation.
<br><span class="indent"></span>
Only by accepting what I am, what those eleven people before me must have been, can this tale end fortuitously. Only then can I ascend to live amongst the stars, the way I know I was always meant to. I can already feel myself becoming lighter. I ought to finish this piece while my fingers are still solid enough to touch the keys of my typewri