/*
palette:
background:         #111111
borders:            #787a7a
content bg:         #181a20
highlight border:   #7698bd
highlight bg:       #34394a
links:              #0399d6
text:               #eeeeee
*/

/* fonts */

@font-face {
    font-family: 'RecursiveSans';
    src: url(/static/font/RecursiveSans-VarWeight.woff2);
    font-weight: 300 1000;
}

/* generic tags */

html {
    font-family: 'RecursiveSans', sans-serif;
    font-weight: 350;
    font-size: 11pt;
    line-height: 1.35;

    background: #111111;
    color: #eeeeee;
}

body {
    width: 996px;
    margin: 8px auto;
}

h1, h2, h3, h4 {
    margin: 7px 0px;
}

hr {
    border: 1px solid #787a7a;
}

sup {
    vertical-align: top;
    position: relative;
    top: -2px;
}

sub {
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

p, pre {
    margin: 0px 0px 17px 0px;
}

p:last-child, pre:last-child {
    margin: 0px;
}

blockquote {
    margin: 17px 36px 17px 20px;
    padding: 0px 0px 0px 13px;

    border-left: 3px solid #787a7a;
}

code {
    display: inline;
    text-align: left;
    padding: 0px 2px 0px 2px;

    border: 1px solid #787a7a;
    background: #111111;

    font-family: monospace;
}

pre code {
    display: block;
    padding: 6px;

    overflow: auto;
    white-space: pre-wrap;
}

table {
    width: 100%;
    margin: 0px 0px 17px 0px;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
    vertical-align: top;
    text-align: left;
}

thead tr {
    border-bottom: 2px solid #787a7a;
}

tbody tr {
    border-bottom: 1px solid #787a7a;
}

tbody tr:last-child {
    border: none;
}

a {
    color: #0399d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #787a7a;
}

/* generic classes */

.monospace {
    font-family: monospace;
}

.smallcaps {
    font-variant: small-caps;
    font-size: 110%;
}

.indent {
    display: inline-block;
    width: 1.5em;
}

.notice, .admonition  {
    display: inline-block;
    padding: 12px;
    margin: 0px 0px 17px 0px;

    border: 2px solid #7698bd;
    background: #34394a;
}

.admonition-title {
    font-size: 120%;
    font-weight: bold;
}

.button {
    display: block;
    max-width: 40%;
    padding: 12px;
    margin: auto;

    background-color: #0399d6;
    color: #eeeeee;
    text-align: center;

    cursor: pointer;
}

.button:hover {
    background: #34394a;
    text-decoration: none;
}

/* specific id's and classes */

#header, #sidebar div, #content {
    background: #181a20;
    border: 1px solid #787a7a;
}

#header {
    width: 798px;
}

#banner {
    background: url('/static/img/stars.jpg') no-repeat;
}

#banner a {
    display: block;
    width: 100%;
    padding: 19px 0px;

    color: #eeeeee;

    text-align: center;
    font-size: 250%;
}

#sidebar {
    float: right;
    width: 180px;
}

#sidebar div {
    padding: 10px;
    margin: 16px 0px 0px 0px;
}

#menu a {
    padding: 4px 2px;
    display: block;

    color: #eeeeee;
}

#content {
    float: left;
    width: 766px;
    padding: 8px 16px;
    margin: 16px 0px;

    text-align: justify;
    overflow-x: auto;
}

.about-link {
    text-align: center;
    color: #eeeeee;
}

.about-list {
    margin: 10px 0px 10px 32px;
}

.about-table {
    margin: 0px;

    font-size: 95%;
    background: #111111;
}

.about-table tr {
    border: 1px solid #787a7a !important;
}

.about-table td, .about-table img, .about-table h3 {
    vertical-align: middle;
    padding: unset;
    margin: unset;
}

.about-table td:last-child {
    padding: 10px;
    width: 100%;
}

.about-table br {
    line-height: 150%;
}

#blog-list {
    margin: 10px 0px 0px 0px;
}

#blog-list dd {
    margin: 0px 0px 4px 0px;
}

#changelog tr {
    border: none;
}

#changelog td {
    padding: 2px;
}

/* for screens too small for the default layout */

@media screen and (max-width: 996px) {
    body, #header, #sidebar, #content {
        width: unset;
        float: unset;
        max-width: 600px;
    }
}
